@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('./footer.css');

/* Mobile */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
  text-align: center;
}

.product-section {
    width: 100%;
    padding: 5%;
}

.top , .summary {
    border-bottom: 1px solid black;
}

.photo {
    width: 100%;
}

.summary h1{
    font-size: 1.3em;
    font-weight: normal;
}

.summary h2{
    padding-top: 1.1em;
    font-size: 1.1em;
}

.buy-section {
    font-size: 3em;
    position: fixed;
    bottom:0;
    right: 10px;
}

#cart-icon{
    border-radius: 50%;
    border: solid 1px black;
    background-color: white;
    padding: 5px;
    box-shadow: 5px 5px;
}

#add-icon{
    font-size: 0.4em;
    left: 1px;
    top: 20px;
    position: absolute;
}



/* Tablets */
@media (min-width: 480px) {
    
}

/* Desktop */
@media (min-width: 1024px) {
    
}