.titulo {
  font-style: italic;
  color:blue;
  text-align: center;
  font-size: 30px;
}
.logo{
  text-align: center;
  margin-top: 10px;
}
.logo img{
  border-radius:50px;
  border: solid 1px black;
  border-sizing: border-box;


}
 .button {
  width: 30%;
  margin: auto;
  margin:0 auto;
  text-align: center;
  background-color: white;
  width: 300px;
}
#caja {
  margin: 0 auto;
  border-spacing: white;
  margin: 15px;
  margin-left: 15px;
  float: left;
}
a {
  margin: 0 auto;
  border-spacing: white;
  margin: 15px;
  margin-left: 15px;
  float: left;
}
h1{
  margin: 0 auto;
  border-spacing: white;
  margin: 15px;
  margin-left: 15px;
}
